.main-content {
    flex: 1;
}

.main-content-section {
    background-color: var(--section-bg-color, #ffffff);
    color: var(--main-content-text-color, #000000);
    padding: 0rem;
    border-radius: 8px;
    box-shadow: 0 20px 10px rgba(0, 0, 0, 0.1);
    margin: 0rem;
}

