.main-content {
    flex:1; 
}

.main-content-section {
    //background-color: var(--main-content-section-bg-color, #ffffff);
    color: var(--main-content-text-color, #000000);
    padding-bottom: 2rem;
}

/* Responsive design */
@media (max-width: 992px) {
    .main-content-section {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        min-height: calc(100vh - 60px);
        padding-bottom: 0rem;
    }
    .main-content-section.last-section {
        border-bottom: none;
    }
}

