<div class="education-container">
    <h1 class="education-title">EDUCATION</h1>
    
      @if (configService.config?.sections?.['experience']?.['timeline']) {
        @for (education of configService.config?.sections?.['education']?.['courses']; track $index) {
          <div class="education-item">
            <!-- Education content -->
            <div class="education-card">
              <!-- Header con empresa y período -->
                <div class="education-info">
                  <div class="education-title-center">
                      <div><span class="education-course-title">{{ education.title }}</span></div>
                      <div><span class="education-center">{{ education.center }}</span></div>
                  </div>
                  <div class="period-grade">
                    <span class="period">
                      <i class="fas fa-calendar-alt"></i>
                      {{ education.period }}
                    </span>
                    <span class="grade">
                      <i class="fas fa-graduation-cap"></i>
                      {{ education.grade }}
                    </span>
                  </div>
                </div>
              
              <!-- Descripción -->
              <div class="education-description">
                <p>{{ education.description }}</p>
              </div>
              
              <!-- Tecnologías -->
              <!--<div class="technologies-section">
                <h5>Tecnologías:</h5>
                <div class="technologies-tags">
                  @for (tech of experience.technologies; track tech) {
                    <span class="tech-tag">{{ tech }}</span>
                  }
                </div>
              </div>-->
              
              <!-- Logros -->
               <!--
              <div class="achievements-section">
                <h5>Main achievements:</h5>
                <ul class="achievements-list">
                  @for (achievement of experience.achievements; track achievement) {
                    <li>{{ achievement }}</li>
                  }
                </ul>
              </div>-->
            </div>
          </div>
        }
      }
  </div>
  