<div class="sidebar" [ngClass]="{ 'sidebar-collapsed': isSidebarCollapsed }">
    <div class="sidebar-header-top">
        <!-- <div class="sidebar-logo">-->
        <!--   <img src="/assets/logo.png" alt="logo image" class="logo-image">-->
        <!-- </div>-->
        <h1 class="sidebar-title-top">{{ config.general.text.sidebar_title }}</h1>
        <button class="sidebar-toggle-btn" (click)="toggleSidebar()">
            <i [class]="isSidebarCollapsed ? 'fas fa-bars' : 'fas fa-times'"></i>        
        </button>
    </div>
    <!-- <div class="sidebar-logo-left">-->
    <!--   <img src="/assets/logo.png" alt="logo image" class="logo-image-left">-->
    <!-- </div>-->
    <div class="sidebar-header-left">
      <div class="sidebar-photo">
        <img src="/assets/profile_photo.jpeg" alt="profile photo" class="profile-image">
      </div>
      <h1 class="sidebar-title-left">{{ config.general.text.sidebar_title }}</h1>
    </div>
    <div class="sidebar-menu">
      <ul>
        @for (item of sections; track item.name) {
        <li class="sidebar-menu-item">
          <a
            class="sidebar-item"
            [ngClass]="{ 'active': item.visible }"
            (click)="setSectionVisible(item.name)"
          >
            <span class="sidebar-item-text">{{ item.label }}</span>
          </a>
        </li>
        }
      </ul>
    </div>
</div>