<div class="sidebar" [ngClass]="{ 'sidebar-collapsed': isSidebarCollapsed }">
    <div class="sidebar-btn">
        <button class="sidebar-toggle-btn" (click)="toggleSidebar()">
            <i [class]="isSidebarCollapsed ? 'fas fa-bars' : 'fas fa-times'"></i>        </button>
    </div>
    <div class="sidebar-header">
      <a href="#" class="sidebar-logo">{{
        isSidebarCollapsed ? 'C' : 'CodeWithChintan'
      }}</a>
    </div>
    <div class="sidebar-menu">
      <ul>
        @for (item of sections; track item.label) {
        <li class="sidebar-menu-item">
          <a
            href="#"
            class="sidebar-item"
            (click)=" setSectionVisible(item.label)"
          >
            <span class="sidebar-item-text">{{ item.name }}</span>
          </a>
        </li>
        }
      </ul>
    </div>
</div>