<div class="sidebar" [ngClass]="{ 'sidebar-collapsed': isSidebarCollapsed }">
    <div class="sidebar-btn">
        <div class="sidebar-logo">
          <img src="/assets/icons/android-chrome-transparente-512x512.png" alt="logo image" class="logo-image">
        </div>
        <button class="sidebar-toggle-btn" (click)="toggleSidebar()">
            <i [class]="isSidebarCollapsed ? 'fas fa-bars' : 'fas fa-times'"></i>        
        </button>
    </div>
    <div class="sidebar-header-right">
      <div class="sidebar-photo">
        <img src="/assets/images/profile_photo.jpeg" alt="profile photo" class="profile-image">
      </div>
    </div>
    <div class="sidebar-menu">
      <ul>
        @for (item of sections; track item.label) {
        <li class="sidebar-menu-item">
          <a
            class="sidebar-item"
            (click)="setSectionVisible(item.label)"
          >
            <span class="sidebar-item-text">{{ item.name }}</span>
          </a>
        </li>
        }
      </ul>
    </div>
</div>