// Estilos para el contenedor principal de la aplicación
.app-container {
    display: flex;
    min-height: 100vh;
    width: 100%;
  }
  
  
  // Estilos para el elemento app-main-content
  .content-aerea {
      flex: 1; // Toma el espacio restante
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 250px; // Margen izquierdo igual al ancho del sidebar expandido
      transition: margin-left 0.3s ease-in-out; // Transición suave cuando el sidebar cambia
  }
  
  app-main-content {
      display: flex; // ✅ Añadir esto
      flex: 1;
      background-color: #f8f9fa;
      padding: 2rem;
  }
  
  app-footer {
      flex-shrink: 0; // ✅ Altura fija
      background-color: #f8f9fa;
  }
  
 // Media query para pantallas pequeñas
@media (max-width: 992px) {
    .content-aerea {
      flex: 1; // Toma el espacio restante
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 0px; // Margen izquierdo igual al ancho del sidebar expandido
      margin-top: 60px; // Margen superior para el sidebar horizontal
      transition: margin-left 0.3s ease-in-out; // Transición suave cuando el sidebar cambia
    }

    .app-container {
      flex-direction: column; // Layout vertical en móviles
    }
  
}