// Styles for the main application container
.app-container {
    display: flex;
    min-height: 100vh;
    width: 100%;
  }

.content-area {
    flex: 1; // Takes remaining space
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: var(--sidebar-left-width, 250px); // Dynamic left margin
    transition: margin-left 0.3s ease-in-out; // Smooth transition when sidebar changes
}

app-main-content {
    display: flex;
    flex: 1;
    background-color: var(--main-content-bg-color, #ffffff);
    padding: 2rem;
}

app-footer {
    flex-shrink: 0; // Fixed height
    background-color: var(--main-content-bg-color, #ffffff);
}
  
 // Media query for small screens
@media (max-width: 992px) {
    .content-area {
      flex: 1; // Takes remaining space
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 0px; 
      margin-top: var(--sidebar-top-height, 60px); // Dynamic top margin
      transition: margin-left 0.3s ease-in-out; // Smooth transition when sidebar changes
    }

    .app-container {
      flex-direction: column; // Vertical layout
    }
  
}